@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* header section */
/* shared style */
.font{
    font-family: "Fira Sans";
}
/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;   
}
.btn-one {
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px;
    color: rgb(0, 106, 80);
    font-weight: 600;
    font-family: "Fira Sans"
}
/* bd section style */
.section-container{
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 100px 60px;
}
.bd{
    background-color: #C6E4D6;
    margin: 20px 160px;
    border-radius: 24px;
    font-family: "Fira Sans"
}
.section-tittle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 2px;
}
.section-description{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 24px;
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    border: none;
}
/* pillars section style */
.pillars-container{
    display: flex;
    gap: 24px;
}
.pillar{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255)
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 24px;
}
.pillars{
    margin: 160px;
    font-family: "Fira Sans"
}
#p-tittle {
color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
}
/* vision of future section */
.vision-s{
    margin: 160px;
    font-family: "Fira Sans"
}
.vision-section-container{
    display: flex;
    gap: 24px;
}
.v-d{
    width: 1280px;
    height: 48px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}
.vision{
    box-sizing: border-box;
    flex-direction: column;
    border: 1px solid #5490F5;
    border-radius: 16px;
    border: none;
    padding: 24px;
    margin-bottom: 32px;
    margin-top: 32px;
}
.bg-colur-one{
    background: rgba(84, 144, 245, 0.2);
}
.bg-colur-two{
    background: rgb(198, 228, 214);
}
.bg-colur-three{
    background: rgb(247, 235, 207);
}
.btn-border{
    border: 0px solid ;
    border-radius: 8px;
    background: rgba(84, 144, 245, 1);
    padding: 15px 30px;
    font-weight: 600;
    font-family: "Fira Sans"
}
.btn-border-two{
    border: 0px solid;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    padding: 15px 30px;
    font-weight: 600;
}
.btn-border-three{
    border: 0px solid;
    border-radius: 8px;
    background: rgb(255, 194, 57);;
    padding: 15px 30px;
    font-weight: 600;
}
#v-tittle{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
/* m-yunus style */
.m-yunus{
box-sizing: border-box;
padding: 48px 24px;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
}
.m-yunus, .c-d{
    color: rgba(14, 14, 14, 0.8);
    font-weight: 400;
}